body {
    width: 1280px;
    margin: 0 auto;
    border: 1px solid #000;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 16px;
    color: #445161;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    background-color: #445161;
    color: #fff;
}

.header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.header__wpr {
    float: left;
}

.header__title {
    margin: 0 0 41px 0;
    font-size: 60px;
    font-weight: 400;
    line-height: 43px;
}

.header__list {
    margin: 0;
    padding: 0 0 0 36px;
}

.header__list-item {
    list-style-type: none;
    position: relative;
    font-size: 20px;
    line-height: 36px;
    font-weight: 400;
}

.header__list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 8px;
    left: -37px;
    background-image: url(../img/check_icon_346.png);
    background-size: cover;
}

.header__img {
    display: block;
    width: 469px;
    min-height: 214px;
    background-color: #fff;
    color: #000;
    float: right;
}

.about_product {
    width: 100%;
    background-color: #fff;
}

.about_product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.about_product__wpr {
    float: left;
}

.about_product__title {
    margin: 0 0 37px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 8px;
}

.about_product__text {
    width: 649px;
    margin: 0 0 11px 0;
    line-height: 24px;
    font-weight: 400;
    color: #333333;
}

.about_product__text:last-child {
    margin: 0;
}

.about_product__video {
    display: block;
    width: 430px;
    height: 245px;
    float: right;
    background-color: #445161;
    color: #fff;
}

.dignity {
    width: 100%;
    background-color: #f5f5f5;
}

.dignity:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.dignity__title {
    font-size: 30px;
    line-height: 9px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 41px 0;
}

.dignity__list {
    width: 46.3%;
    float: left;
    margin: 0;
    list-style-type: none;
    padding-left: 41px;
}

.dignity__list-item {
    margin: 0 0 20px 0;
    position: relative;
    width: 526px;
    line-height: 18px;
}

.dignity__list-item:nth-child(3n) {
    margin: 0;
}

.dignity__list-item:before {
    content: "+";
    width: 32px;
    height: 32px;
    background-color: #445161;
    color: #fff;
    position: absolute;
    top: 0;
    left: -41px;
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.screenshots {
    width: 100%;
    background-color: #fff;
}

.screenshots__title {
    font-size: 30px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 38px 0;
}

.screenshots__content {
    width: 100%;
}

.screenshots__content:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots__content-figure {
    width: 50%;
    margin: 0 0 30px 0;
    float: left;
}

.screenshots__content-figure:nth-child(n+3) {
    margin: 0;
}

.screenshots__content-figure:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.screenshots__content-img {
    display: block;
    width: 200px;
    height: 150px;
    background-color: #445161;
    float: left;
    color: #fff;
}

.screenshots__content-figcap {
    float: right;
    margin: 0 14px 0 0;
}

.screenshots__content-title {
    font-size: 24px;
    font-weight: 400;
    margin: 0 0 13px 0;
    line-height: 19px;
}

.screenshots__content-text {
    width: 359px;
    color: #333333;
    line-height: 24px;
    margin: 0;
}

.reviews {
    width: 100%;
    background-color: #f5f5f5;
}

.reviews__title {
    margin: 0 0 35px 0;
    text-align: center;
    font-size: 30px;
    line-height: 15px;
    font-weight: 400;
}

.reviews__wpr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.reviews__wpr-item {
    width: 48.5%;
    display: flex;
    justify-content: space-between;
    margin: 0 0 24px 0;
}

.reviews__wpr-item:nth-child(n+3) {
    margin: 0;
}

.reviews__wpr-img {
    display: block;
    width: 75px;
    height: 75px;
    color: #fff;
    background-color: #445161;
    border-radius: 50%;
    align-self: flex-start;
}

.reviews__wpr-text {
    background-color: #ebebeb;
    width: 431px;
    border-radius: 10px;
    padding: 16px;
    align-self: flex-start;
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
    font-style: italic;
    color: #333333;
    margin: 0;
    position: relative;
}

.reviews__wpr-text:before {
    content: "";
    display: block;
    border: 15px solid transparent;
    border-right: 15px solid #ebebeb;
    position: absolute;
    top: 20px;
    left: -30px;
}

.reviews__wpr-autor {
    display: block;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #989898;
    margin: 6px 0 0 0;
    font-style: normal;
}

.buy {
    width: 100%;
    background-color: #fff;
}

.buy__title {
    margin: 0 0 37px 0;
    text-align: center;
    font-size: 30px;
    line-height: 18px;
    font-weight: 400;
}

.buy__wpr {
    display: flex;
    justify-content: space-between;
    padding-left: 95px;
    padding-right: 95px;
}

.buy__wpr-item {
    width: 300px;
    background-color: #445162;
    border-radius: 5px;
    color: #fff;
    padding-bottom: 17px;
    align-self: flex-end;
    border: 3px solid #445162;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buy__wpr-title {
    font-size: 24px;
    line-height: 48px;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.buy__wpr-price {
    display: block;
    background-color: #fff;
    color: #445162;
    font-size: 40px;
    line-height: 71px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 14px 0;
}

.buy__wpr-parametrs {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 16px -8px;
}

.buy__wpr-button {
    display: block;
    background-color: #fff;
    width: 260px;
    border-radius: 5px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    font-size: 18px;
    font-weight: 700;
    color: #445161;
    text-transform: uppercase;
}

.buy__wpr-button:hover {
    background-color: #ebebeb;
    color: green;
}

.buy__wpr-button:active {
    background-color: #f5f5f5;
    color: red;
}

.footer {
    width: 100%;
}

.contacts {
    width: 100%;
    background-color: #445162;
    color: #fff;
    padding: 52px 246px 49px 246px;
    box-sizing: border-box;
}

.contacts__title {
    margin: 0 0 30px 0;
    text-align: center;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
}

.contacts__wpr {
    display: flex;
}

.contacts__item {
}

.contacts__form {
    display: flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}

.contacts__form input[type="text"],
.contacts__form input[type="email"],
.contacts__form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #445162;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
}

.contacts__form input[type="text"]:hover,
.contacts__form input[type="email"]:hover,
.contacts__form textarea:hover {
    background-color: #445162;
    color: #fff;
    border-color: #fff;
}

.contacts__form input[type="text"]:hover::placeholder,
.contacts__form input[type="email"]:hover::placeholder,
.contacts__form textarea:hover::placeholder {
    color: #fff;
}

.contacts__form textarea {
    height: 170px;
    resize: none;
}

.contacts__item-submit {
    display: block;
    width: 140px;
    border: 1px solid #445162;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
    padding: 9px;
    background-color: #fff;
    line-height: 24px;
    font-weight: 700;
    outline: none;
    font-size: 16px;
    color: #445162;
}

input[placeholder],
textarea[placeholder] {
    text-overflow: ellipsis;
    font-family: Arial;
    color: #445162;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.contacts__item-submit:hover {
    background-color: #ebebeb;
    color: green;
}

.contacts__item-submit:active {
    background-color: #f5f5f5;
    color: red;
}

.contacts__item-contact {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin: 0 0 15px 0;
}

.contacts__item-social {
    display: flex;
    width: 240px;
    justify-content: space-between;
    margin-top: 30px;
}

.contacts__item-icon {
    display: block;
    width: 42px;
    height: 42px;
    background-color: #fff;
    border-radius: 50%;
    color: #445162;
    text-align: center;
    text-decoration: none;
}

.copyright {
    width: 100%;
    background-color: #f5f5f5;
}

.copyright__text {
    font-size: 12px;
    margin: 0;
    text-align: center;
    padding: 5px;
}

.fa-2x{
    font-size: 1.5em;
    line-height: 42px;
}

.fa-3x{
    font-size: 1.5em;
}